{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<section class="container text-center">
  <p>
    Python est un langage de programmation. Il est l'un des langages de programmation les plus intéressants du moment.
    Facile à apprendre, python est souvent utilisé en exemple lors de l'apprentissage de la programmation. Vous
    trouverez sur ce site des cours / tuto informatiques qui vous enseigneront les bases pour la compréhension de ce
    langage. Pour les développeurs plus expérimentés le site vous indiquera quelques astuces pour vos projets.
  </p>
</section>

<div class="container">
  <div class="row">
    {% for post in posts|slice(2,3) %}
    <div class="card" style="width: 18rem;">
      <img src={{ post.image }} class="card-img-top" alt={{ post.title }}>
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <time datetime="2016-1-1">{{ post.date|date('d/m/Y')}}</time><br>
        <span class="badge badge-primary">Prix: {{ post.price }} €</span>
        {% for cat in post.category %}
        <span class="badge badge-success">Titre: {{ cat.name }}</span>
        <span class="badge badge-light">Niveau: {{ cat.parent.name }}</span>
        {% endfor %}
      </div>
        <a href="{{ path('video',{ 'id': post.id })}}" class="btn btn-primary btn-sm">Accéder à la vidéo</a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}